html {
    background-color: beige;
}

#cabecera {
    background-color: brown;
    color: white;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#formulario {
    clear: both;
}

#ef {
    position: absolute;
    margin-top: 10px;
    height: 20px;
    width: 150;
    border: 3px solid;
    border-color: black;
    border-style: solid;
}

#footer {
    background-color: rgb(2, 80, 2);
    margin-top: 2.7em;
    height: 220px;
    border-style: solid;
    border-color: rgb(229, 255, 0);
}

#marcas {
    padding: 10px;
    position: absolute;
    width: 20%;
}

#RRSS {
    padding: 10px;
    margin-top: 0px;
    list-style-type: none;
    width: 45%;
    margin-left: 25%;
}