html {
    background-color: beige;
}

#cabecera {
    background-color: brown;
    color: white;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: white;
}

a:hover {
    color: blue;
}

a:active {
    color: green;
}

#menu {
    background-color: brown;
    color: white;
    text-align: right;
    padding: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
    height: 100px;
}

#menuenla {
    text-align: right;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.25em;
}

#con {
    display: inline;
}

#ser {
    display: inline;
}

#tie {
    display: inline;
}

#enlaces {
    float: right;
}

h3 {
    float: left;
    width: 20%;
    margin-top: 2.3em;
}

div a {
    border: 1px solid;
    text-decoration: none;
    margin: 1em;
    padding: 0.3em;
    float: right;
}

#at1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    height: 370px;
    width: 350px;
    border: 3px solid;
}

#at11 {
    width: 270px;
    height: 270px;
    padding: 10px;
    margin-left: 30px;
}

#at2 {
    position: absolute;
    margin-top: 20px;
    margin-left: 380px;
    height: 370px;
    width: 350px;
    border: 3px solid;
    float: right;
}

#at22 {
    width: 270px;
    height: 270px;
    padding: 10px;
    margin-left: 30px;
}

#at3 {
    position: absolute;
    margin-top: 20px;
    margin-left: 750px;
    height: 370px;
    width: 350px;
    border: 3px solid;
    float: right;

}

#at33 {
    width: 270px;
    height: 270px;
    padding: 10px;
    margin-left: 30px;
}

#af1 {
    position: absolute;
    margin-top: 410px;
    margin-left: 380px;
    height: 370px;
    width: 350px;
    border: 3px solid;
    float: right;

}

#af11 {
    width: 270px;
    height: 270px;
    padding: 10px;
    margin-left: 30px;
}

#af2 {
    position: absolute;
    margin-top: 410px;
    margin-left: 750px;
    height: 370px;
    width: 350px;
    border: 3px solid;
    float: right;

}

#af22 {
    width: 270px;
    height: 270px;
    padding: 10px;
    margin-left: 30px;
}

#af3 {
    position: absolute;
    margin-top: 410px;
    margin-left: 10px;
    height: 370px;
    width: 350px;
    border: 3px solid;

}

#af33 {
    width: 270px;
    height: 270px;
    padding: 10px;
    margin-left: 30px;
}